body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


.mobile-playAgain {
  font-size:15px;
  font-family:'Press Start 2P', cursive;
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#566963;
  font-weight:bold;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  text-shadow:inset 0px -1px 0px #2b665e;
  background:linear-gradient(#768d87, #6c7c7c);
  display: none;
}

.mobile-playAgain:hover {
  background: linear-gradient(#6c7c7c, #768d87);
}
              

@media screen and (max-device-width: 768px) {
  .mobile-playAgain {
    display: inline;
  }
}

@media screen and (max-device-width: 768px) and (orientation: landscape) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    width: 100%;
  }
  .btn {
    display: inline-block;
  }
}